/* GENERAL */
body {
  background-image: linear-gradient(#009688 100px, #dadbd4 100px);
}

main {
  height: 90vh;
  width: 100%;
  background-color: #fff;
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  width: 400px;
  background-color: black;
}

.sidebar-header {
  background-color: #eaeaea;
  height: 60px;
}

.header-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-right {
  color: #b1b1b1;
}

/* NOTIFICATIONS */

.sidebar-notifications{
  height: 70px;
  background-color: #8edafc;
}

.sidebar-notifications .circle{
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
}

.circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8edafc;
}

.notifications-text h6{
  font-size: 12px;
}

.notifications-text a{
  font-size: 10px;
  color: #b1b1b1;
}