/* GENERAL */
body {
  background-image: linear-gradient(#009688 100px, #dadbd4 100px);
}

main {
  height: 90vh;
  width: 100%;
  background-color: #fff;
}

/* SIDEBAR */
.sidebar {
  height: 100%;
  width: 400px;
}

.sidebar-header {
  background-color: #eaeaea;
  height: 60px;
}

.header-left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-right {
  color: #b1b1b1;
}

/* NOTIFICATIONS */

.sidebar-notifications{
  height: 70px;
  background-color: #8edafc;
}

.sidebar-notifications .circle{
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
}

.circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8edafc;
}

.notifications-text h6{
  font-size: 12px;
}

.notifications-text a{
  font-size: 10px;
  color: #b1b1b1;
}

/* SIDEBAR LIST */

/* search bar */
.search-bar{
  background-color: #fafafa;
  height: 50px;
}

/* contact list */

#my-list{
  height: calc(90vh - 180px);
  overflow-y: auto;
}

.list-group-item {
  display: flex;
}

li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* MAIN ELEMENTS */

.main-elements{
  height: 100%;
  width: calc(100% - 400px);
}

/* HEADER */
header{
  height: 60px;
  background-color: #eaeaea;
}

.header-left p{
  font-size: 10px;
}

/* MAIN CHAT */

#chat{
  background-image: url(../img/mine.jpg);
  height: calc(90vh - 120px);
  overflow-y: auto;
}

/* FOOTER TEXTBAR */
footer{
  height: 60px;
  background-color: #f3eeea;
}